<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.sheyuan.hybridlibrary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hybrid_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hybrid_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/hybrid_AppTheme">

        <activity android:name=".ui.HybridBaseActivity" />
        <activity android:name=".ui.HybridSampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".ui.HybridWebViewActivity"/>
    </application>

</manifest>
